.sign-in-button,
.sign-in-button * {
  box-sizing: border-box;
}
.sign-in-button {
  display: flex; /* Activa Flexbox */
  align-items: center; /* Alinea verticalmente el contenido */
  justify-content: center; /* Centra el contenido horizontalmente */
  gap: 10px; /* Espaciado entre el texto y el ícono */
  background: #57c882; /* Fondo verde */
  color: #1A2118; /* Texto blanco */
  border: none;
  border-radius: 6px; /* Bordes redondeados */
  padding: 10px 20px; /* Espaciado interno */
  font-size: 16px; /* Tamaño del texto */
  font-weight: bold; /* Texto en negrita */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  width: 150px; /* Ancho fijo para ambos botones */
  text-align: center; /* Centra el texto */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta el texto que exceda el ancho del botón */
  text-overflow: ellipsis; /* Agrega "..." si el texto es demasiado largo */
  transition: background 0.3s ease, transform 0.2s ease; /* Animación para hover */
  height: 50px;
}

.sign-in-button:hover {
  background: #a5e9bf; /* Fondo verde oscuro al pasar el cursor */
  transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el cursor */
}

.sign-in-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.error-message {
  font-weight: 700;
  color: rgb(255, 53, 53); /* Aumenta ligeramente el tamaño al pasar el cursor */
}