.logo-art-room-definitivo-8,
.logo-art-room-definitivo-8 * {
  box-sizing: border-box;
}
.logo-art-room-definitivo-8 {
  width: auto;
  height: 300px;
  position: relative;
  aspect-ratio: 1;
}
.logo-art-room-definitivo-8 .logo-art-room-definitivo-88 {
  width: 360px;
  height: auto;
}

@media (max-width: 500px) {
  .logo-art-room-definitivo-8 .logo-art-room-definitivo-88 {
    width: auto;
    height: 200px;
  }

  .logo-art-room-definitivo-8 {
    width: auto;
    height: 200px;
    margin-bottom: 20px;
  }
}
