@import "../shared.css";

.p-gina-de-registro,
.p-gina-de-registro * {
  box-sizing: border-box;
}
.p-gina-de-registro {
  background: #ffffff;
  height: 1080px;
  position: relative;
}
.p-gina-de-registro .create-account {
  color: #1a2118;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 140px;
  top: 14px;
  width: 160px;
  height: 28px;
}

.p-gina-de-login .sign-up-container {
  padding: 1lh;
  width: 100%;
}

.p-gina-de-login .sign-up-button {
  width: 80%;
  max-width: 128px;
}

.p-gina-de-login .sign-up-text {
  font-size: clamp(12px, 2.5vw, 16px);
  white-space: normal;
  word-wrap: break-word;
}

@media (max-width: 500px) {
  .p-gina-de-login .sign-up-button {
    margin-top: 20px;
  }
}